<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282784608854-j57q32t81iphb4jglteb0m0vfjigeh4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282784608854-j57q32t81iphb4jglteb0m0vfjigeh4j</string>
	<key>API_KEY</key>
	<string>AIzaSyAc_wvBmc0hyFrG41IdS-iXj3S9tujB83c</string>
	<key>GCM_SENDER_ID</key>
	<string>282784608854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DailyRecipeApp</string>
	<key>PROJECT_ID</key>
	<string>dailyrecipe-f0c35</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyrecipe-f0c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282784608854:ios:148cc3cff119cd345641f7</string>
</dict>
</plist>